html {
    font-size: 62.5%; // 62.5 == 10 px
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
}

body * {
    margin: 0;
    border: 0;
    padding: 0;
}

/* HEADER */
header {
    background: url("/assets/img/bg-header.jpg") no-repeat ;
    background-size: cover;
    height: 700px;
    width: 100% ; 
    margin-top: 6rem;
    display: flex;
}

/*  NAV */
nav {
    text-align: center;
    padding: .5rem 0;
    position: fixed;
    width: 100vw;
    background-color: #000000;
    top: 0;
}


/*  TAMANOS Y TIPOS DE LETRA */
h1 {
    font-weight: 500;
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
    font-weight: 500;
}

h3 {
    font-size: 2.4rem; 
    font-weight: 300;
}
p {
    font-size: 1.6rem;
    font-weight: 300;
}

footer p {
    font-size: 2rem;
}



/* Seccion descripcion */
.desc-section {
    margin: 0 10rem;;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
   

}
.desc-section-texto {
    width: 40%;
    /* vertical-align: middle;
    white-space: normal; */
}
.desc-section-imagen {
    width: 45%;
    /* vertical-align: middle;
    margin-left: 10%; */
}
.desc-section-imagen img {
    width: 100%;

}

/* Espacio entre secciones */
section, footer {
    margin-top:7.5rem;
}



.centrar img {
    width: 30%;
}

footer {
    text-align: center;
    padding: 2.5rem 0;
}

.icons-section,
footer {
    background: #1e1a13;
}



.icons-section{
    text-align: center;
    padding: 6rem;
    
}


.centrar {
    margin: 0 10rem;;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.icons-section h2 {
    padding-bottom: 3rem;
}

.icons-section h3 {
    padding-top: 2rem;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #ffffff;
}